<% content_for(:title, "See All Bus Lines | Timetable") %>
<div class='container'>
  <div class='row'>
    <h1><%= image_tag('bus.jpg', class: 'pull-left', width: '200') %><b>&nbsp&nbspBus Timetable</b></h1>
  </div><br>
  <h3><u>See All Bus Lines</u></h3>
  <h5>(Click on a link to see more information about the line)</h5>
  <% if @lines.empty? %>
    <h3>There are no bus lines in the database</h3>
  <% else %>
    <ul><% @lines.each do |line| %>
      <li><%= link_to line.line_name, bus_line_path(line) %></li>
        <% end %>
    </ul>
  <% end %>
  <br><br><br>
  <hr>
  <h4><%= link_to "Add A New Bus Line", new_bus_line_path %></h4>
  <h4><%= link_to "See All Bus Stations", bus_stations_path %></h4>
  <h4><%= link_to "See All Bus Stops", bus_stops_path %></h4>
</div>
