<%= render('layouts/errors', :object => @station) %>
<br>
<h5><b>Enter the name of the bus station:</b></h5>
<%= form_for(@station) do |f| %>
  <div class="form-group">
    <%= f.label :station_name, class: "field" %>
    <%= f.text_field :station_name, class: "field-text" %>
  </div><br><br><br>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
