<% content_for(:title, "See A Bus Station | Timetable") %>
<div class='container'>
  <div class='row'>
    <h1><%= image_tag('bus.jpg', class: 'pull-left', width: '200') %><b>&nbsp&nbspBus Timetable</b></h1>
  </div><br>
  <h3><u>See A Bus Station</u></h3>
  <h5>(Click on a link to edit the station name or delete the station)</h5>
  <h4><%= link_to @station.station_name, edit_bus_station_path(@station) %></h4>
  <ul><% if @station.bus_stops.empty? %>
    <li>There are no stops for this station</li>
  <% else %>
    <% @station.bus_stops.order(:stop_time).each do |stop| %>
      <li><%= link_to stop.stop_time.strftime('%l:%M %P'), bus_stop_path(stop) %>:
        <%= link_to stop.bus_line.line_name, bus_line_path(stop.bus_line) %> stops at
        <%= stop.bus_station.station_name %></li>
        <% end %>
  <% end %></ul>
  <br><br><br>
  <hr>
  <h4><%= link_to "Add A New Bus Station", new_bus_station_path %></h4>
  <h4><%= link_to "See All Bus Stations", bus_stations_path %></h4>
</div>
