<%= render('layouts/errors', :object => @stop) %>
<br>
<h5><b>Enter the time of the stop and select the line and station:</b></h5><br>
<%= form_for(@stop) do |f| %>
  <div class="form_group">
    <%= f.label :stop_time %>
    <%= f.time_field :stop_time %>
  </div><br>
  <div class="form_group">
    <%= f.label "Select station" %>
    <%= f.collection_select :bus_station_id, BusStation.all.order(:station_name), :id, :station_name %><br><br>
  </div>
  <div class="form_group">
    <%= f.label "Select line" %>
    <%= f.collection_select :bus_line_id, BusLine.all.order(:line_name), :id, :line_name %><br>
  </div>
  <br>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
